.cart {
  text-align: right;
  margin-right: 1.3rem;
  display: flex;
  float: right;
}

.cart button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 0 0.3rem;
}

.cart button:hover,
.cart button:active {
  background-color: #641e03;
  border-color: #641e03;
}
